.bg-img1 {
  background-color: #000;
  background-size: cover;
  background: url(./tree-736877_960_720.jpg);
}
.bg-img2 {
  background-color: #000;
  background-size: cover;
  background: url(./oakImage-1603985177355-superJumbo.webp);
}
.bg-igm3 {
  background-color: #000;
  background-size: cover;
  background: url(./wp10190304.jpg);
}
